html, body {
	background: black;
	margin: 0;
	padding: 0;
	color: white;
	font-family: arial, sans-serif;
	font-size:1.1em;
	width:100%;
}

* {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
}
body {
	-webkit-transform:translate3d(0,0,0);
}
a:link, a:visited {
	color: red;	
	text-decoration: none;
}

h1 {
	padding: .4em;
	margin: 0;
	text-align: center;
}
#carousel {
	width:100%;
	overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}
#carousel > ul {
	width:300%;
	list-style-type: none;
	margin:0;
	padding:0;
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}
#carousel > ul > li {
	display:block;
	width:100%;
	float:left;
}

#carousel > ul > li .container {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

#carousel > ul.animate {
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
    -webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

#carousel p.center {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#carousel p.errors {
	padding: .5em;
}

.simpleform {
	width:100%;
	margin-top:20px;
}
.simpleform label {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	text-align: center;

	margin-bottom:8px;
}

.input-big {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;

	padding: 4px;
	font-size: 1.4em;
	background-color: rgb(0,0,0);
	color: red;
	border:none;
	border-bottom: 2px solid white;
}
.input-big:focus {
    outline-width: 0;
	border-color: red;
}

button, input[type="button"], input[type="submit"] {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:60%;

	padding:8px;
	font-size:1.5em;
	margin-top:20px;
	background: black;
	border: 3px solid red;
	border-radius: 5px;
	color: white;
}

button:active, button:focus {
    outline-width: 0;
}
button.active {
    outline-width: 0;
    background: red;
	border-color: black;
	color: black;
}
